#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang ja_JP.UTF-8
# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=
# Service
firewall --disabled
# SELinux disabled
selinux --disabled
# Root password
# System timezone
timezone Asia/Tokyo --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives sda
# Disk partitioning information(MB)
part / --fstype="xfs" --ondisk=sda --size=1 --grow

user --name=dakeshita --groups=wheel


%packages
%end
%addon com_redhat_kdump --disable --reserve-mb='auto'
%end
%post

%end
reboot --eject
